<div class="about-wrapper" id="about">
  <div class="about-inner-wrapper">
    <h2>ABOUT</h2>
    <div class="about-text">

      <p style="margin: 20px 0;">
        Thanks for using this app! I hope it elevates the weather tracking experience with neomorphism design. I tried
        to give every small feature to make user experience better.
        Stay ahead of the forecast effortlessly, accessing real-time weather updates with precision and ease.
      </p>

      <h3 style="text-align: left; color:black">Features</h3>
      <ul style="text-align :left; list-style-type:circle;">
        <li>Auto Locate <i class="fa-solid fa-location-dot"></i></li>
        <li>Auto Complete Search <i class="fa-solid fa-magnifying-glass-location"></i></li>
        <li>Search by Region <i class="fa-solid fa-house-user"></i></i></li>
        <li>Mailing Feature <i class="fa-solid fa-envelope"></i></li>
        <li>Notification Alerts <i class="fa-solid fa-bell"></i></li>
        <li>Responsive Design <i class="fa-solid fa-circle-check"></i></li>
      </ul>

    </div>
  </div>
</div>