<%- include('header.ejs') %>

  <div class="about-wrapper" id="about">
    <div class="about-inner-wrapper">
      <h1>ABOUT</h1>
      <div class="about-text">
        <p>
          Thanks for using this app! I hope it elevates the weather tracking experience with neomorphism design. I tried
          to give every small feature to make user experience better.
          Stay ahead of the forecast effortlessly, accessing real-time weather updates with precision and ease.
        </p>

        <h2>Features</h2>
        <ul>
          <li>Auto Locate <i class="fa-solid fa-location-dot"></i></li>
          <li>Auto Complete Search <i class="fa-solid fa-magnifying-glass-location"></i></li>
          <li>Search by Region <i class="fa-solid fa-house-user"></i></i></li>
          <li>Mailing Feature <i class="fa-solid fa-envelope"></i></li>         
          <li>Responsive Design <i class="fa-solid fa-circle-check"></i></li>
        </ul>

      </div>
    </div>

  </div>
  <!-- about wrapper ends -->

  <%- include('footer.ejs') %>