<div class="footer-wrapper">
    <section id="connect">
        <div class="social-media-wrapper">
            <a href="https://www.instagram.com/iamaniketgupta"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/iamaniketgupta"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/iamaniketgupta"><i class="fa-brands fa-square-github"></i></a>

        </div>
        <!-- social ends -->
        <div class="copyright-wrapper">
            <p>Developed with <span style="color: red;">&hearts;</span> by <a href="#">Aniket Gupta</a></p>
            <p> &nbsp; | In <i class="fa-brands fa-node-js"></i></p>
        </div>
    </section>
</div>
<!-- footer ends -->

</div>
<!-- main wrapper ends -->
<script src="app.js"></script>
</body>

</html>