
  <header id="header">
            <div class="logo-wrapper">
               <a href="/"><img src="/assets/logo.png" alt="Today's Weather" draggable="false" width="100%" height="100%"></a> 
            </div>
            <i class="fa-solid fa-bars bars-icn"></i>
            <nav id="navbar" class="navbar">
                <i class="fa-solid fa-circle-xmark close-icn"></i>
                <ul class="navmenu">
                    <a href="#">
                        <li class="list-item active">Weather
                            <div class="btm-line"></div>
                        </li>
                    </a>
                    <a href="#about">
                        <li class="list-item">About
                            <div class="btm-line"></div>
                        </li>
                    </a>
                    <a href="#connect">
                        <li class="list-item">Connect
                            <div class="btm-line"></div>
                        </li>
                    </a>
                </ul>
            </nav>
        </header>